.c-header {
  position: fixed;
  width: 100%;
  padding: $offset-md 0;
  z-index: 99;
  color: $white-color;
  font-weight: bold;
  transition: all .15s ease;

  &.offset {
    background-color: #1461ff;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media (max-width: 768px) {
    &__right {
      display: none;
    }
  }
}
