.c-skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  min-height: calc(100vh - 450px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px -10px 0;
  }

  &__item {
    margin: 10px;
    color: #1461ff;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 25px;
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 50px;
    transition: all $animation-fast ease;

    &:hover {
      transform: translate(0, -2px);
    }
  }
}
