.c-welcome {
  position: relative;
  padding: 0;
  margin: 0;
  height: 80vh;

  background-size: cover;
  background-position: center center;
  background-image: url('/portfolio-bg.jpg');

  display: flex;
  flex-direction: column;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(-45deg, rgba(11, 11, 11, 0.7) 0, rgba(15, 14, 14, 0.7) 40%, rgba(10, 10, 12, 0.7) 100%);
    // -webkit-linear-gradient(-45deg,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%);
  }

  &__animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    #particles-js {
      height: 100%;
    }
  }

  .container {
    z-index: 2;
    position: relative;
    width: 100%;
  }

  &__hello {
    max-width: 880px;

    .hello, .short {
      font-weight: bold;
      font-size: $font-lg;
    }

    .hello {
      color: #333;
      background-color: $white-color;
      padding: 4px 8px;
      border-radius: 0;
      transition: all $animation-fast ease;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, .6);
      }
    }

    .short {
      margin: $font-md 0;
      color: $white-color;
    }

    .description {
      max-width: 760px;
      color: $white-color;
    }
  }

  .socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 24px 0;
    margin-left: -8px;
    margin-right: -8px;

    &__item {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      border: 1px solid $white-color;
      border-radius: 50%;
      transition: all $animation-fast;

      &:hover {
        background-color: $white-color;

        .socials__link {
          color: #333;
        }
      }
    }

    &__link {
      color: $white-color;
      transition: all $animation-fast;
    }
  }
}
