.c-logo {
  display: inline-block;
  padding: 2px 8px;
  position: relative;
  cursor: pointer;
  font-size: 24px;

  &:hover {
    opacity: 0.8;
  }

  &__name {
    color: #fff;
  }

  &::before {
    content: "";
    position: absolute;
    border: 3px solid $white-color;
    border-radius: 3px;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (max-width: 768px) {
    font-size: 18px;
  }
}
